#忽略的git上传文件或文件夹
/node_modules
/deploy.sh
*/.DS_Store
.DS_Store
*/.idea/
.idea/
*.txt
*/.vscode/
.vscode
/.nuxt
package-lock.json
yarn.lock
nuxt.config.js
ecosystem.config.js
upload.json
upload_youpai
restart.sh
node_modules
